# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Environments
.env
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.iml
*.swp
*.swo
*.swn

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.cache/
.pytest_cache/
.coverage
.coverage.*
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Other
*.sqlite3
*.db
*.bak
*.tmp
*.pid
*.DS_Store
*.lock
